---
layout: base.njk
title: "art by seb"
---
<ul>
{%- for drawing in collections.drawings -%}
    <li>{{ drawing.date | formatDate }} - <a href="{{ drawing.url }}">{{ drawing.fileSlug }}</a></li>
{%- endfor -%}
</ul>
